		.footer{
			text-align: center;
			font-size: 12px;
		}
		td,th{
			vertical-align: middle;
			text-align: center;
		}
		.table{
			width: 80%;
			text-align: center;
			color: #75a4a4;
			margin-top: 30px;
			border:3px solid #75a3a3;
		}
		.header{
			color : #75a3a3;
			font-family: sans-serif;
			font-size: 86px;
		}
		.content{
			text-align: center;
		}
		.button{
			border-radius: 17px;
			border-color: #75a3a3;
			background-color: white;
			color: #75a3a3;
			padding: 10px 30px;
		}
		.button:hover{
			background-color: #75a3a3;
			color: white;
			transition-duration: 0.4s;
		}
		th,td{
            text-align: center;
        }

        .float2{
            position:fixed;
            bottom:160px;
            right: 65px;
            color:navy;
            text-align:center;
            text-shadow: 2px 2px 3px #999;
        }

        .my-float2{
            font-family:Verdana, Geneva, sans-serif;
            margin-top:52px;
            font-size: 18px;
        }

        .float{
            position:fixed;
            width:90px;
            height:90px;
            bottom:60px;
            right: 60px;
            background-color:#7AA;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
        }

        .my-float{
            font-family:Verdana, Geneva, sans-serif;
            margin-top:52px;
            font-size: 50px;
        }
        .my-float:hover{
            font-family:Verdana, Geneva, sans-serif;
            margin-top:60px;
            margin-left: 10px;
            font-size: 50px;
            color: lightgray;
        }
        p{
            cursor:pointer;
        }