body,html{
        margin:0;
        padding:0;
        background: url("/class(2).jpg") no-repeat center center;
        background-attachment: fixed;
        background-size: cover;
        background-color: gray;
        background-blend-mode: multiply;
    }
    .btnlg{
        background-color: #00cc44;
        padding: 10px 20px;
        font-size: 18px;
        font-family: PT Sans;
        color: white;
        border-radius: 100px;

    }
    .btnlg:hover{
        color: white;
    }
    .btnsm{
        background-color: #80aaff;
        padding: 10px 20px;
        font-size: 18px;
        font-family: PT Sans;
        color: white;
        border-radius: 100px;

    }
    .btnsm:hover{
        color: white;
    }
    .lapbgimg{
        background-color: transparent;
        margin: 0 auto;
        padding: 15px 20px;
        border: 0px solid #00cc44 ;
        border-radius: 100px;
        margin-left: 250px;
        transition: border 0.5s;
    }
    .lapbgimg:hover{
        border: 5px solid #00cc44;
    }
    .repbgimg{
        background-color: transparent;
        margin: 0 auto;
        padding: 15px 20px;
        border: 0px solid #80aaff;
        border-radius: 100px;
        transition: border 0.5s;
    }
    .repbgimg:hover{
        border: 5px solid #80aaff;
    }
    .title{
        text-align: center;
        font-family: PT Sans;
        font-size: 50px;
        color: white;
        margin-bottom: 50px;
    }
    .title:hover{
        text-decoration: none;
        color: white;
    }
    .seprow{
        margin-top: 100px;
    }
    sub,sup{
        font-size: 40px;
    }
    